<%+header%>
<%
local function get_kcp_status(name)
	local ps = luci.sys.exec("ps | grep -e %s | grep -v grep 2>/dev/null" %{name})
	local status = ""
	if ps ~= "" then
		status = "Running"
	else
		status = "Stoped"
	end
	return status
end

local udp2raw_status = get_kcp_status("udp2raw")
local kcpclient_status = get_kcp_status("kcp-client")
-%>

<fieldset class="cbi-section">
	<legend><%:Running Status%></legend>
	<table width="100%" cellspacing="10" id="_kcp_status_table">
		<tr>
			<td width="33%"><%:Name%></td>
			<td width="33%"><%:udp2raw%></td>
		</tr>
		<tr>
			<td width="33%"><%:Running Status%></td>
			<td><%=pcdata(udp2raw_status)%></td>
		</tr>
		<tr>
			<td width="33%"><%:Name%></td>
			<td width="33%"><%:kcp-client%></td>
		</tr>
		<tr>
			<td width="33%"><%:Running Status%></td>
			<td><%=pcdata(kcpclient_status)%></td>
		</tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<legend><%:Manage%></legend>
	<table width="100%" cellspacing="10" >
		<tr>
			<td width="20%" align="right"><input type="button" class="cbi-button cbi-button-apply" value="<%:Restart%>" onclick="document.location='<%=luci.dispatcher.build_url("admin", "network", "kcptools", "restart")%>'" /></td>
			<td width="30%" align="left"><input type="button" class="cbi-button cbi-button-apply" value="<%:Stop%>" onclick="document.location='<%=luci.dispatcher.build_url("admin", "network", "kcptools", "stop")%>'" /></td>
		</tr>
	</table>
</fieldset>

<%+footer%>

